body, html {
  margin: 0;
  padding: 0;
  background: black;
  color: lightgrey;
  overflow: hidden;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}

#textOutput {
  color: lightgrey;
  background: #111;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  overflow: auto;
}

#canvas {
  background: #111111;
}

/* Add to your styles.css */
#debugCanvas {
  position: fixed;
  left: 0;
  bottom: 0;
  background: #222;
}
